<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Barcode</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{barcode}} </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Serial</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{ serial }} </ion-card-content>
  </ion-card>
  <ion-button color="primary" (click)=scan()>Scanner</ion-button>
</ion-content>