<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Serials</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label *ngIf="barcode">
            <p>URL : {{ barcode }}</p>
            <p>SERIAL : {{ serial.serialNumber }}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let s of serials; index as pos" text-wrap>
          <ion-label>
            {{ s.serial_number }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="ion-padding">
    <ion-button expand="block" color="primary" (click)="scan()"
      >Scanner</ion-button
    >
  </div>
  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-title>Member {{ member }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label color="dark">Member:</ion-label>
        <ion-select [(ngModel)]="member">
          <ion-select-option *ngFor="let user of user.child" [value]="user.id"
            >{{ user.name }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!member">
    <ion-card-header>
      <ion-card-title>Customer Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="name" type="text" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input [(ngModel)]="phone" type="text" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" type="text" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input [(ngModel)]="address" type="text" name="address"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let img of images.splice(0, 1); index as pos" text-wrap>
      <ion-thumbnail slot="start">
        <ion-img [src]="img.path"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ img.name }}
      </ion-label>
      <!-- <ion-button slot="end" fill="clear" (click)="startUpload(img)">
            <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
          </ion-button> -->
      <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" color="primary" (click)="submit()"
      >Submit</ion-button
    >
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image
    </ion-button>
  </ion-toolbar>
</ion-footer> -->
