:host {
    ion-content {
        // --background: var(--ion-color-light);
         --background: url('/assets/img/background.png');
        // --background-image: url('/assets/img/background.png') no-repeat 100% 100%;
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
         background:rgba(255,255,255,0.5);
    }
}