<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Scan Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Order #{{ myId }}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Serials</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label *ngIf="barcode">
            <p>URL : {{barcode}}</p>
            <p>SERIAL : {{ serial }}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let s of serials; index as pos" text-wrap>
          <ion-label>
            {{ s }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="ion-padding">
    <ion-button expand="block" color="primary" (click)=scan()>Scanner</ion-button>
  </div>
  <div class="ion-padding" *ngIf="serials">
    <ion-button expand="block" color="primary" (click)=submit()>Update Order</ion-button>
  </div>
</ion-content>
