<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>User Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header *ngIf="user">
      <ion-card-subtitle>MEE{{ user.user.id }}</ion-card-subtitle>
      <ion-card-subtitle>{{ user.user.name }}</ion-card-subtitle>
      <ion-card-title>{{ user.user.role.display_name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="user">
      <ion-item>
        <ion-label>
         <p>Email: {{ user.user.email }}</p>
         <p>Phone: {{ user.user.phone }}</p>
         <p>Address : {{ user.user.address }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


    <ion-card *ngIf="user">
      <ion-card-header>
        <ion-card-title>Orders</ion-card-title>
        <ion-card-subtitle>Total Sales : RM{{ user.total_sales }}</ion-card-subtitle>
        <ion-card-subtitle>Total Orders : RM{{ user.total }}</ion-card-subtitle>
      </ion-card-header>
      <ion-list>
        <ion-item *ngFor="let item of user.ordered">
          <ion-label>
            <p>{{ item.status.description }}</p>
            <p>Date: {{ item.created_at }}</p>
            <p>Total: RM{{ item.total }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>

  <ion-card *ngIf="user && user.user.child.length > 0">
    <ion-card-header routerLink="/user/{{ user.id }}" routerDirection="forward">
      <ion-card-subtitle>Downline Details</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Total Direct Downline : {{ user.user.child.length }}
    </ion-card-content>
  </ion-card>

  <div *ngIf="user">
  <ion-card *ngFor="let child of user.user.child">
    <ion-card-header routerLink="/user/{{ child.id }}" routerDirection="forward">
      <ion-card-subtitle>MEE{{ child.id }}</ion-card-subtitle>
      <ion-card-subtitle>{{ child.name }}</ion-card-subtitle>
      <ion-card-title>{{ child.role.display_name }}</ion-card-title>
      <ion-card-subtitle color="primary" *ngIf="!child.active">Not Verified</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </div>



</ion-content>
