<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Points History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let point of points">
      <ion-label>
        <h2>{{ point.serial_number }}</h2>
        <p>Date: {{ point.created_at}}</p>
        <p>Points: {{ point.points }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>