<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
    </div>

    <!-- Login form -->
    <form
      #form="ngForm"
      [formGroup]="onLoginForm"
      (ngSubmit)="login(form)"
      class="list-form"
      method="post"
    >
      <ion-item no-padding class="animated fadeInUp">
        <ion-label color="primary" position="floating">
          <ion-icon color="primary" name="mail" item-start></ion-icon>
          <ion-text color="primary">
            Email
          </ion-text>
        </ion-label>
        <ion-input
          ngModel
          name="email"
          color="primary"
          type="email"
          formControlName="email"
        ></ion-input>
      </ion-item>
      <p
        ion-text
        class="text08"
        *ngIf="
          onLoginForm.get('email').touched &&
          onLoginForm.get('email').hasError('required')
        "
      >
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label color="primary" position="floating">
          <ion-icon color="primary" name="lock" item-start></ion-icon>
          <ion-text color="primary">
            Password
          </ion-text>
        </ion-label>
        <ion-input
          ngModel
          name="password"
          color="primary"
          [type]="passwordType"
          formControlName="password"
          (keyup.enter)="login(form)"
        ></ion-input>
        <ion-icon
          item-end
          [name]="passwordIcon"
          class="passwordIcon"
          (click)="hideShowPassword()"
          item-end
        ></ion-icon>
      </ion-item>
      <p
        ion-text
        color="warning"
        class="text08"
        *ngIf="
          onLoginForm.get('password').touched &&
          onLoginForm.get('password').hasError('required')
        "
      >
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>
      <ion-button type="submit" expand="full" color="primary">Login</ion-button>
    </form>

    <p text-right tappable (click)="forgotPass()" class="paz">
    <!-- <p text-right tappable routerLink="/forget-password" class="paz"> -->
      <ion-text color="primary">
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p>

    <div>
      <!-- <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="goToHome()" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Signin
      </ion-button> -->

      <!--<p text-center>
        <ion-text color="light">
          Or Signin with:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      -->
    </div>

    <!-- Other links -->
    <!-- <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
    </div> -->
  </div>
</ion-content>
