<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="dark" slot="end" *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #mySlider [options]="mySlideOptions" scroll="true" pager="true">
    <ion-slide *ngFor="let p of products">
      <div>
        <img [src]="'http://sys.meeracle.com.my/storage/' +p.image" />
      </div>
      <div>
        <h2>{{ p.name }}</h2>
        <p>Retail Pice - RM{{ p.price }}</p>
        <p *ngIf="p.role_price.price">Your Pice - RM{{ p.role_price.price  }}</p>
      </div>
      
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addToCart(p)">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <!-- <ion-card class="bg-white">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12">
                    <ion-label>{{ p.name }}</ion-label>
                  </ion-col>
                  <ion-col size="12">
                    <ion-label>Retail Pice: RM{{ p.price }}</ion-label>
                  </ion-col>
                  <ion-col size="12">
                  <ion-label>Your Pice: RM{{ p.role_price.price  }}</ion-label>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col size="6">
              <ion-img [src]="'http://sys.meeracle.com.my/storage/' +p.image"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card> -->
      <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button  (click)="addToCart(p)">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab> -->
    </ion-slide>
  </ion-slides>
</ion-content>