<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-card *ngFor="let order of orders">
    <ion-card-header>
      <ion-card-subtitle>#{{ order.id }}</ion-card-subtitle>
      <ion-card-subtitle>{{ order.created_at | date:'medium' }}</ion-card-subtitle>
      <ion-card-title>{{ order.total | currency:'RM':'symbol'}}</ion-card-title>
    </ion-card-header>
    <ion-button (click)="scanOrder()">
      <ion-icon slot="start" name="qr-scanner"></ion-icon>
     Scan Item
    </ion-button>
    <ion-button [routerLink]="['/order', order.id]">
      <ion-icon slot="start" name="add"></ion-icon>
      View Order
    </ion-button>
  </ion-card> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Top 15 Orders</ion-card-title>
      <ion-card-subtitle>View full orders <a href="http://hq.meeracle.com.my/orders">Here</a></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let order of orders">
      <ion-label>
        <h2 *ngIf="order.buyer">{{ order.buyer.name }}</h2>
        <h2 *ngIf="order.customer">{{ order.customer.name }} [non-member]</h2>
        <h3>{{ order.status.description }}</h3>
        <p>{{ order.created_at }}</p>
        <p>{{ order.total | currency: "RM":"symbol" }}</p>
        <ion-button
          [routerLink]="['/scan-order', order.id]"
          *ngIf="order && order.status.id === 2"
        >
          <ion-icon slot="start" name="qr-scanner"></ion-icon>
          Scan Item
        </ion-button>
        <ion-button [routerLink]="['/order', order.id]">
          <ion-icon slot="start" name="paper"></ion-icon>
          View Details
        </ion-button>
        <!-- <ion-button *ngIf="order.customer" [routerLink]="['/scanner']">
          <ion-icon slot="start" name="cart"></ion-icon>
          New Order
        </ion-button> -->
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
