<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content *ngIf="user" class="bg-profile">
      <img
        *ngIf="user.avatar"
        [src]="'https://api.meeracle.com.my/storage/' + user.avatar"
      />
      <img *ngIf="!user.avatar" src="assets/img/avatar2.jpg" />
      <h1 class="fw500">{{ user.name }}</h1>
      <h2 color="light" margin-bottom>{{ user.role.display_name }}</h2>
      <h2 color="light" margin-bottom>MEE{{ user.id }}</h2>
      <!-- <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon> 
        Edit / Add Avatar
      </ion-button> -->
    </ion-card-content>

    <ion-grid fixed no-padding>
      <ion-row *ngIf="user">
        <ion-col size="12" padding>
          <ion-list margin-bottom>
            <ion-list-header color="light">
              <ion-label class="fw700">Profile</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label color="dark" position="stacked">Name:</ion-label>
              <ion-input
                [(ngModel)]="user.name"
                inputmode="text"
                placeholder="Ex..: Joe Doe"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">NRIC/Passport:</ion-label>
              <ion-input [(ngModel)]="user.nric" inputmode="text" disabled></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Email:</ion-label>
              <ion-input
                [(ngModel)]="user.email"
                inputmode="email"
                placeholder="Ex.: joe@doe.com"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Phone:</ion-label>
              <ion-input
                [(ngModel)]="user.phone"
                inputmode="text"
                placeholder="Ex.: 012313212"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Address:</ion-label>
              <ion-input
                [(ngModel)]="user.address"
                inputmode="text"
                placeholder="Ex.: Abey Road 5"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">City:</ion-label>
              <ion-input [(ngModel)]="user.city" inputmode="text" placeholder="Ex.: Klang"></ion-input>
            </ion-item>

            <!-- <ion-item>
              <ion-label color="dark" position="stacked">State:</ion-label>
              <ion-input [(ngModel)]="user.state" inputmode="text" placeholder="Ex.: Selangor"></ion-input>
            </ion-item> -->

            <ion-item>
              <ion-label color="dark" position="stacked">Postcode:</ion-label>
              <ion-input [(ngModel)]="user.postcode" inputmode="text" placeholder="Ex.: 51200"></ion-input>
            </ion-item>


            <ion-item>
              <ion-label color="dark">State:</ion-label>
              <ion-select  [(ngModel)]="user.state" >
                <ion-select-option  *ngFor="let state of states" [value]="state.id" >{{ state.name }}</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- <ion-item>
              <ion-label color="dark">State</ion-label>
              <ion-select>
                <ion-select-option value="nes">NY</ion-select-option>
                <ion-select-option value="n64">CA</ion-select-option>
                <ion-select-option value="ps">Greater London</ion-select-option>
                <ion-select-option value="genesis">Paris</ion-select-option>
                <ion-select-option value="saturn">SP</ion-select-option>
                <ion-select-option value="snes">Kantō</ion-select-option>
                <ion-select-option value="snes">Delhi</ion-select-option>
              </ion-select>
            </ion-item> -->
          </ion-list>
          <ion-list>
            <ion-item *ngFor="let img of images; index as pos" text-wrap>
              <ion-thumbnail slot="start">
                <ion-img [src]="img.path"></ion-img>
              </ion-thumbnail>
              <ion-label>
                {{ img.name }}
              </ion-label>
              <ion-button
                slot="end"
                fill="clear"
                (click)="deleteImage(img, pos)"
              >
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label>Avatar</ion-label>
              <ion-button
                fill="clear"
                expand="full"
                color="primary"
                (click)="selectImage()"
              >
                <ion-icon slot="start" name="camera"></ion-icon>
                Select Image
              </ion-button>
            </ion-item>
          </ion-list>
          <ion-list>
            <!-- <ion-radio-group>
              <ion-list-header color="light">
                <ion-label class="fw700">User Type</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label color="primary">Customer</ion-label>
                <ion-radio slot="start" value="customer" checked></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label color="primary">Owner</ion-label>
                <ion-radio slot="start" value="agent"></ion-radio>
              </ion-item>
            </ion-radio-group> -->

            <!-- <ion-item>
              <ion-label class="text-1x">Checkbox test</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item> -->
            <ion-button size="large" expand="full" color="dark" (click)="sendData()" no-margin>Update</ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

      <ion-grid fixed no-padding>
        <ion-row *ngIf="user">
          <ion-col size="12" padding>

            <ion-list margin-bottom>
              <ion-list-header color="light">
                <ion-label class="fw700">Change Password</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label color="dark" position="stacked">Password:</ion-label>
                <ion-input [(ngModel)]="user.password" type="password"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label color="dark" position="stacked">Confirm Password:</ion-label>
                <ion-input [(ngModel)]="user.confirm_password"  type="password"></ion-input>
              </ion-item>
              <ion-button size="large" expand="full" color="dark" (click)="changePassword()" no-margin>Change Password</ion-button>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid fixed no-padding>
        <ion-row *ngIf="user">
          <ion-col size="12" padding>
          </ion-col>
        </ion-row>
      </ion-grid>


  </ion-card>

  <!-- <div padding>
    <ion-text color="dark" no-margin>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum odio placeat incidunt nesciunt atque ratione quisquam, fugit
      omnis maxime adipisci excepturi dignissimos aliquam asperiores itaque unde sequi? Minus, quia, dolore?
    </ion-text>
  </div> -->
</ion-content>
