<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="orders">
    <ion-card-header>
      <ion-card-title>{{ orders.status.description }}</ion-card-title>
      <ion-card-subtitle>Order ID: {{ orders.id }}</ion-card-subtitle>
      <ion-card-subtitle *ngIf="orders.total"
        >Total: {{ orders.total | currency: "RM":"symbol" }}</ion-card-subtitle
      >
      <ion-card-subtitle>Date: {{ orders.created_at }}</ion-card-subtitle>
    </ion-card-header>
    <div class="ion-padding" *ngIf="orders">
      <ion-button
        *ngIf="orders.status.id === 1"
        expand="block"
        color="primary"
        (click)="update(2)"
        >Paid</ion-button
      >
      <ion-button
        *ngIf="orders.status.id === 2"
        expand="block"
        color="primary"
        (click)="update(3)"
        >Sold</ion-button
      >
    </div>
  </ion-card>

  <ion-card *ngIf="orders && orders.customer">
    <ion-card-header>
      <ion-card-title>{{ orders.customer.name }} [non-member]</ion-card-title>
      <ion-card-subtitle>Email : {{ orders.customer.email }}</ion-card-subtitle>
      <ion-card-subtitle>Phone : {{ orders.customer.phone }}</ion-card-subtitle>
      <ion-card-subtitle
        >Address : {{ orders.customer.address }}</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="orders && orders.buyer">
    <ion-card-header>
      <ion-card-title
        ><span [routerLink]="['/user', orders.buyer.id]">{{
          orders.buyer.name
        }}</span>
      </ion-card-title>
      <ion-card-subtitle>Email : {{ orders.buyer.email }}</ion-card-subtitle>
      <ion-card-subtitle>Phone : {{ orders.buyer.phone }}</ion-card-subtitle>
      <ion-card-subtitle
        >Address : {{ orders.buyer.address }}</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="orders && orders.item.length > 0">
    <ion-card-header>
      <ion-card-title>Order Items</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of orders.item">
          <ion-label>
            <h2>{{ item.product.name }}</h2>
            <h2>Price : RM{{ item.price }}</h2>
            <h2>Quantity : {{ item.quantity }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="orders && orders.payment_slip">
    <ion-card-header>
      <ion-card-title>Prove of Payment</ion-card-title>
      <img [src]="'http://api.meeracle.ml/storage/' + orders.payment_slip" />
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="orders && orders.tracker.length > 0">
    <ion-card-header>
      <ion-card-title>Scanned Items</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of orders.tracker">
          <ion-label>
            <h2>{{ item.serial_number }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
